:80 {

    reverse_proxy /api/* flowback-backend:8000 {
        lb_policy round_robin
    }

    reverse_proxy /admin/* flowback-backend:8000 {
        lb_policy round_robin
    }

    reverse_proxy /static/admin/* flowback-backend:8000 {
        lb_policy round_robin
    }

    reverse_proxy /openid/* flowback-frontend:4000

    reverse_proxy flowback-frontend:4000 {
        lb_policy round_robin
    }
}
