:80 {
    reverse_proxy /api* flowback-backend:8005 {
        lb_policy round_robin
    }

    reverse_proxy /admin* flowback-backend:8005 {
        lb_policy round_robin
    }

    reverse_proxy /openid/* flowback-frontend:3000

    reverse_proxy flowback-frontend:3000 {
        lb_policy round_robin
    }
}
